# Copy this file to application-local.yaml and fill in your local values.
# application-local.yaml is gitignored and will never be committed.
spring:
  datasource:
    username: postgres
    password: your-password-here

# Enables OpenAPI/Swagger UI as developer tool.
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
